.body{
  display: flex;
  width: fit-content;
  padding-bottom: 30px;
}

.category-info{
  padding-top: 60px;
  margin-left: 100px;
}

h3{
  text-align: center;
  font-size: 40px;
  color: rgb(255, 111, 0);
  letter-spacing: 5px;
}

.products-list{
  margin-top: 20px;
  display: flex;
  gap: 30px;
  
}

.product-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 15px;
  width: 250px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.product-image{
  width: 100%;
  height: 220px;
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgb(164, 102, 36);
}

.product-name{
  color: rgb(27, 26, 26);
  font-weight: 700;
  
}

.addbutton{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  background-color: #8C4C1F;
  border: none;
  color: rgb(250, 249, 247);
  font-weight: 700;
  cursor: pointer;
}

.go{
  display: none;
}

@media(max-width: 1536px){

  .body{
  width: 1336px;
  padding-bottom: 30px;
  height: 700px;
  overflow-y: scroll;
}

.category-info{
  padding-top: 30px;
  margin-left: 30px;
}

h3{
  font-size: 34px;
}

.products-list{
  flex-wrap: wrap;
  column-gap: 40px;
  
}

.product-card{
  display: flex;
  gap: 15px;
  width: 250px;
}

.product-image{
  height: 220px;
} 
}


@media(max-width: 1336px){
    .body{
  width: 1136px;
  padding-bottom: 30px;
}

.category-info{
  padding-top: 30px;
  margin-left: 30px;
}

h3{
  font-size: 34px;
}

.products-list{
  flex-wrap: wrap;
  column-gap: 70px;
  
}

.product-card{
  display: flex;
  gap: 15px;
  width: 200px;
}

.product-image{
  height: 220px;
} 
}

@media(max-width: 1136px){
      .body{
  width: 936px;
  padding-bottom: 30px;
}

.category-info{
  padding-top: 30px;
  margin-left: 30px;
}

h3{
  font-size: 34px;
}

.products-list{
  flex-wrap: wrap;
  column-gap: 50px;
  justify-content: center;
  
}

.product-card{
  display: flex;
  gap: 15px;
  width: 150px;
}

.product-image{
  height: 260px;
} 
}

@media(max-width: 936px){

  .body{
  width: 736px;
  padding-bottom: 30px;
}

.category-info{
  padding-top: 30px;
}

h3{
  font-size: 34px;
}

.products-list{
  flex-wrap: wrap;
  column-gap: 0px;
  justify-content: center;
  
}

.product-card{
  display: flex;
  gap: 15px;
  width: 250px;
}

.product-image{
  height: 260px;
}
}

@media(max-width: 736px){
  .body{
  width: 536px;
  padding-bottom: 30px;
}

.category-info{
  padding-top: 30px;
  margin-left: 20px;
}

h3{
  font-size: 15px;
}

.products-list{
  flex-wrap: wrap;
  column-gap: 50px;
  justify-content: flex-start;
  width: 350px;
  
}

.product-card{
  display: flex;
  gap: 10px;
  width: 100px;
}

.product-image{
  height: 120px;
}

.addbutton{
  width: 80px;
  height: 30px;
  font-size: 12px;
}

.go{
  display: block;
  position: absolute;
  top: 500px;
  left: 370px;
  font-weight: 700;
  color: #8C4C1F;
  cursor: pointer;
  font-size: 22px;
  
}

.go:hover{
  color:  rgb(255, 111, 0);
  
}
}