*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  align-items: center;
  gap: 15px;
  color: #8C4C1F;
  width: fit-content;
}

.logo{
  height: 70px;
  width: 210px;
  margin-right: 50px;
}
form{
  display: flex;
  gap: 10px
}
.input{
  margin-right: 10px;
  padding-inline: 19px;
  color: rgb(0, 0, 0);
  height: 50px;
  width: 500px;
  border: 1px solid #895129;
  border-radius: 5%;
  background-color: rgb(241, 239, 236);
  position: relative;
}

.input.active{
  border: 4px solid rgb(255, 150, 0);
  outline: none;
}
.nomatches{
  position: absolute;
  top: 105px;
}

.searchDropdown{
  position: absolute;
  overflow-y: scroll;
  height: 100px;
  width: 520px;
  background-color: #DBB06B;
  padding-block: 20px;
  padding-inline: 30px;
  top: 95px;
}

.productname{
  cursor: pointer;
}

.productname:hover{
  color: rgb(251, 248, 245);
}

.search-button{
  margin-right: 20px;
  width: 120px;
  font-size: 17px;
  font-weight: 700;
  background-color: #895129;
  border: none;
  border-radius: 13%;
  color: rgb(250, 249, 247);
  cursor: pointer;
}

.arrowdiv{
  display: flex;
  font-size: 17px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding-inline: 10px;
  padding-block: 10px;
  
}

.arrowdiv:hover{
  color:  rgb(255, 120, 0);
}

.arrowdiv.active{
  color: black;
  background-color: rgb(181, 179, 179);
  border-radius: 5px;
}




.cart-icon{
  width: 30px;
  height: 25px;
}

#cart-icon{
  position: relative;
}

.cartBadge{
  position: absolute;
  top: 38px;
  right: 175px;
  color: rgb(255, 140, 0);
  font-weight: 700;
}

.cartdiv{
  display: flex;
  font-size: 17px;
  align-items: center;
  cursor: pointer;
  padding-inline: 10px;
  padding-block: 10px;
  
}

.cartdiv:hover{
  color:  rgb(255, 120, 0);
}

.cartdiv.active{
  color: black;
  background-color: rgb(181, 179, 179);
  border-radius: 5px;
}