.carousel-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-top: 30px;
}

.carousel-slides {
  display: flex;
  transition: transform 1.0s ease-in-out;
  height: 450px; /* Adjust height */
}

.carousel-item {
  min-width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  border: none;
}

.carouselP{
  font-size: 42px;
  color: white;
  background: rgba(0, 0, 0, 0.277);
}

.shop{
  margin-top: 50px;
  padding-inline: 30px;
  padding-block: 15px;
  border-radius: 10px;
  border: none;
  background-color: #b44b1d;
  color: white;
  font-size: 16px;
  font-weight: 700;
}


.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.carousel-arrow.prev {
  left: 10px;
}

.carousel-arrow.next {
  right: 10px;
}

/* Dots */
.carousel-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 25px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.433);
  border: none;
  cursor: pointer;
}

.dot.active {
  background: white;
}

@media(max-width: 1536px){

  .carousel-container {
  width: 1336px;
  
}

.carousel-item {
  min-width: 100%;
  height: 600px;
}


}

@media(max-width: 1336px){
   .carousel-container {
  width: 1136px;
  
}
}

@media(max-width: 1136px){

    .carousel-container {
  width: 936px;
}

.carouselP{
  font-size: 37px;
}
}

@media(max-width: 936px){
      .carousel-container {
  width: 736px;
}

.carouselP{
  font-size: 30px;
}
}

@media(max-width: 736px){
      .carousel-container {
  width: 536px;
}
}