.carousel{
  margin-top: 50px;
  width: 1500px;
  height: 450px;
}



.carouselP{
  color: white;
  text-shadow: 1px 1px 4px black;
  font-size: 50px;
  text-align: center;
  
}

.carouselPDiv{
  margin-top: 130px;
}


.cdiv{
  height: 450px;
  width: 1500px;
  background-position: center;
  background-size: cover;
}

#fdiv{
  background-image: url("https://images.pexels.com/photos/4456815/pexels-photo-4456815.jpeg");
 
  
}


#sdiv{
  background-image: url("https://images.pexels.com/photos/1264210/pexels-photo-1264210.jpeg");
}

#tdiv{
  background-image: url("https://images.pexels.com/photos/6860390/pexels-photo-6860390.jpeg");
}

#fodiv{
  background-image: url("https://images.pexels.com/photos/7466779/pexels-photo-7466779.jpeg");
}





