

.SCart-div{
  margin-left: 50px;
  margin-top: 50px;
  height: 550px;
  width: fit-content;
  overflow-y: scroll;


}
.Cart-title{
  color: rgb(255, 140, 0);
  margin-bottom: 20px;
}

.emptyP{
  text-align: center;
  margin-top: 10em;
  color: #8C4C1F;
}



.allItemsDiv{
 display: flex;
 flex-direction: column;
 gap: 10px;
}


.item-div{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 15px;
  color: #8C4C1F;
}



.item-image{
  height: 100px;
  width:  100px; 
  box-shadow: 10px 10px 15px rgb(164, 102, 36);
}

.removeButton{
  width: 70px;
  height: 30px;
  border-radius: 6px;
  text-align: center;
  margin-top: 10px;
  background-color: #8C4C1F;
  border: none;
  color: rgb(250, 249, 247);
  font-weight: 700;
  cursor: pointer;
  font-size: 12px;
}

.totalPrice{
  font-size: 30px;
  font-weight: 700;
  color: #8C4C1F;
  margin-top: 30px;
  text-align: end;
}